html .remark-container.remark-presenter-mode .remark-slides-area {
  left: -10%;
  top: 0;
  height: 70%;
  width: 70%;
}
.remark-presenter-mode .remark-notes-area {
  left: 50%;
  z-index: 1;
  font-size: 150%;
  line-height: 1.4;
}
.remark-notes-area .remark-top-area .remark-toolbar-link {
  display: none;
}
.remark-notes-area .remark-top-area .remark-toolbar-timer {
  position: fixed;
  bottom: 0;
  left: 0;
}
.remark-notes-area .remark-bottom-area .remark-notes-current-area {
  height: 95%;
}
.remark-notes-area .remark-bottom-area .remark-notes-current-area .remark-notes {
  border-top: none;
}
.remark-notes-area .remark-bottom-area {
  top: 0;
}
.remark-notes-area .remark-bottom-area .remark-toggle {
  display: none;
}
.remark-presenter-mode .remark-preview-area {
  top: 55%;
}
.remark-presenter-mode .remark-preview-area .remark-slide-container {
  transform: scale(0.5);
}
.remark-presenter-mode .remark-notes-area .remark-notes-preview-area {
  display: none;
}
