<!DOCTYPE html>
<html>
  <head>
    <title><%= TITLE %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style type="text/css">
      @import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,700,700i%7CMaitree:200,300,400,600,700&amp;subset=latin-ext);
      @import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);

      body {
        font-family: Roboto;
      }
      body h1, body h2, body h3, body h4, body h5, body h6 {
        font-family: Roboto;
        font-weight: bold;
      }
      .remark-slide-content h1 {
        font-size: 45px;
      }

      /* Turn off shadow around content (in pillarbox bars). */
      .remark-slide-scaler {
        box-shadow: none;
        -webkit-box-shadow: none;
      }

      .remark-slide-content .remark-slide-number {
        display: none;
      }
      .remark-slide-content header, .remark-slide-content footer, .remark-slide-content .remark-slide-number {
        font-size: 16px;
        color: #444444;
      }
      .remark-slide-content header > *, .remark-slide-content footer > *, .remark-slide-content .remark-slide-number {
        position: absolute;
        margin: 0;
        background-color: rgba(255, 255, 255, 0.8 );
        padding: 2px 10px;
      }
      .remark-slide-content header > * {
        top: 8px;
      }
      .remark-slide-content header .left, .remark-slide-content footer .left, .remark-slide-content .remark-slide-number {
        left: 20px;
        right: auto;
      }
      .remark-slide-content header .right, .remark-slide-content footer .right {
        right: 20px;
        left: auto;
      }
      .remark-slide-content footer > *, .remark-slide-content .remark-slide-number {
        bottom: 8px;
      }

      .remark-slides-area {
        background-color: black; /* Color of pillarbox on sides of slides */
      }
      .remark-slide-scaler {
        background-color: black;
      }
      .remark-slide-content {
        color: white;
        background-color: black;
        font-size: 26px; line-height: 1.6;
        width: 100%;
      }

      .remark-code, .remark-inline-code { font-family: monospace; line-height: 1.5; font-size: 16px; }
      .remark-inline-code { font-size: 24px; }
      .remark-code {
        counter-reset: code-line-numbers;
      }
      .remark-code .remark-code-line {
        counter-increment: code-line-numbers;
      }
      .remark-code .remark-code-line::before {
        content: counter(code-line-numbers);
        display: inline-block;
        width: 1.2em;
        margin-right: 1em;
        color: #999999;
        -webkit-user-select: none; /* The line numbers should not be selectable. */
      }

      /* Title page */
      .remark-slide .title h1 {
        font-size: 75px;
        margin-top: -50px;
      }
      .remark-slide .title li {
        list-style-type: none;
        font-size: 28px;
      }
      .remark-slide .title ul {
        padding-left: 0px;
      }
      .remark-slide .title {
        background-image: url(images/f5-logo-gradient-rgb.png);
        background-position: 150px 400px;
      }
      .remark-slide .title h3 {
        font-size: 40px;
      }
      .remark-slide .diagram p {
        text-align: center;
      }
      .remark-slide li p {
        margin: 0;
      }
      a {
        text-decoration: none;
        border-bottom: 1px #666666 dashed;
        color: #202;
      }
      a:hover {
        color: #505;
        background-color: #DD0;
      }

      html .remark-container.remark-presenter-mode .remark-slides-area {
        left: -10%;
        top: 0;
        height: 70%;
        width: 70%;
      }
      .remark-presenter-mode .remark-notes-area {
        left: 50%;
        z-index: 1;
        font-size: 150%;
        line-height: 1.4;
      }
      .remark-notes-area .remark-top-area .remark-toolbar-link {
        display: none;
      }
      .remark-notes-area .remark-top-area .remark-toolbar-timer {
        position: fixed;
        bottom: 0;
        left: 0;
      }
      .remark-notes-area .remark-bottom-area .remark-notes-current-area {
        height: 95%;
      }
      .remark-notes-area .remark-bottom-area .remark-notes-current-area .remark-notes {
        border-top: none;
      }
      .remark-notes-area .remark-bottom-area {
        top: 0;
      }
      .remark-notes-area .remark-bottom-area .remark-toggle {
        display: none;
      }
      .remark-presenter-mode .remark-preview-area {
        top: 55%;
      }
      .remark-presenter-mode .remark-preview-area .remark-slide-container {
        transform: scale(0.5);
      }
      .remark-presenter-mode .remark-notes-area .remark-notes-preview-area {
        display: none;
      }

      /* Transitipon Slides */
      .remark-slide .transition {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        height: 600px; /* Remark "normalizes" pages to 800x600. */
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: 0 50px;
        background-size: 100%;
        opacity: .80;
      }
      .remark-slide .transition h1 {
        padding: 0 20px;
        font-size: 75px;
        background-color: rgba(255, 255, 255, .75);

      }

      /* Individual (non-transition) slides */
      .remark-slide div.life {
        display: block;
        margin: 0;
        padding: 0;
        border: 0;
        width: 100%;
      }
      .remark-slide .single-image {
        display: flex;  /* NOTE: Main axis defaults to horizontal axis. */
        justify-content: center; /* Align contained items along main axis. */
        align-items: center; /* Align contained items along cross axis. Use `flex-end` or `flex-start` (default) to move to top/left or bot> */
        padding: 0;
        height: 100%;
      }
      .remark-slide .single-image > p:first-of-type {
        width: 100%;
      }
      .remark-slide .single-image img {
        display: block;
        margin: 0;
        padding: 0;
        border: 0;
        width: 100%;
      }
      .remark-slide .white-background {
        background-color: white;
        border: solid white 25px;
      }
      .remark-slide .hands-up-united {
        margin-top: -150px;
      }

      .remark-slide .big-words > p {
        font-size: 116px;
        padding: 0;
        display: inline-block;
        height: 100%;
        width: 100%;
        line-height: 1;
      }
      .remark-slide .big-words.xl > p {
        font-size: 150px;
      }
      .remark-slide .remark-slide-content.workshop > p:first-of-type {
        margin-top: 150px;
        text-align: center;
      }
      .remark-slide .remark-slide-content .highlight {
        background-color: yellow;
      }
      .remark-slide .remark-slide-content.craig-heart-ruby img {
        width: 25%;
      }
      .remark-slide .remark-slide-content.craig-heart-ruby > p {
      }
      .remark-slide .remark-slide-content.image-only {
        margin: auto;
      }
      .remark-slide .remark-slide-content.image-only p {
        grid-column: 1;
        grid-row: 1;
        align-self: center;
      }
      .image-only img {
        max-width: 90%;
        max-height: 70%;
      }
      .percent-70 img {
        width: 70%;
      }
      .percent-50 img {
        width: 50%;
      }
      .percent-30 img {
        width: 30%;
      }
      .remark-slide .thanks.f5 img {
        display: block;
        margin: auto;
        padding-top: 50px;
        width: auto;
        height: 250px;
        border: 0;
      }
      table.truth-table {
        background-color: #f8f9fa;
        border-collapse: collapse;
        margin: 1em 0;
        border: 1px solid #a2a9b1;
      }
      table.truth-table th, table.truth-table td {
        text-align: center;
        border: 1px solid #a2a9b1;
        padding: 0 0.4em;
      }
      table.truth-table th {
        background-color: #eaecf0;
      }
    </style>
  </head>
  <body>
    <textarea id="source">
<%= BODY %>
    </textarea>
    <!-- <script src="https://gnab.github.io/remark/downloads/remark-latest.min.js"></script> -->
    <script src="remark-latest.min.js"></script>
    <script>
      var slideshow = remark.create({highlightLines: true, highlightLanguage: "ruby"});
    </script>
  </body>
</html>
